/* ESTO PERTENECE A LOS PERSONAJES DE LA API EN LA TERCERA TAREA */

.container {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(59, 52, 52, 0.25);
  backdrop-filter: blur(6px);
  color: #242424;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 900px;
  max-height: 800px;
}

.character-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-status {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
}

.character-button {
  border-radius: 5px;
  padding: 3px;
  background-color: yellow;
  color: black;
  font-size: larger;
}

.character-button:hover {
  cursor: pointer;
  color: yellow;
  background-color: black !important;
  transition: 0.5s;
}

.container img {
  border-style: inset;
  border-radius: 10px;
}

.container img:hover {
  cursor: pointer;
  transform: rotateZ(5deg);
  transition: 0.5s;
}

.image-container {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}
